
h1, h2, h3 {
	margin: 0 0 30px;
}

h4, h5, h6 {
	margin: 0 0 15px;
}
h1, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {

	p + & {
		margin-top: 25px;
	}

	&.title-decoration {
		@include title-zigzag;

		&__bottom {
			@include title-zigzag-bottom;
		}
		&__big {
			@include title-zigzag-big;

			&.title-decoration__bottom {
				@include title-zigzag-big-bottom;
			}
		}
	}
}
.elementor-text-editor .decor-title {
	text-transform: none;
}