// General styles
.btn,
form button,
form input[type='button'],
form input[type='reset'],
form input[type='submit'] {
	@include btn;
	@include btn-mods;
}

.link,
.btn-link {
	display: inline-block;

	&:hover {
		text-decoration: none;
	}
}

.header-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20px;

	i {
		font-size: 14px;
		line-height: 1;
	}
	&.header-icon-left {
		i {
			margin-right: 10px;
		}
	}
	&.header-icon-right {
		flex-direction: row-reverse;

		i {
			margin-left: 10px;
		}
	}
}
.post {
	.entry-footer-bottom {
		.post__button {
			background-color: transparent;
			position: relative;
			font-weight: 600;
			padding: 1px 0;
			padding-right: 20px;
			transition: 0.3s;
			border-radius: 0;
			line-height: 1.1rem;
			&:before {
				content: '\e94c';
				position: absolute;
				right: 0;
				top: 0;
				@include nucleo-mini-icon();
				font-size: 14px;
			}
			&:hover {
				background-color: transparent;
				transition: 0.3s;
			}
		}
	}
}
