.tm-quick-view-popup {
  &__content {
    max-height: 100vh;
    overflow-y: scroll;
    padding: 40px 15px;
    max-width: 100%;
  }
  button.quick-view-close {
    outline: none;
    color: $color__white;
    font-weight: 100;
    @include media-breakpoint-down(xs) {
      color: $color__white;
    }
  }
}