.top-panel__menu {
	padding-right: 24px !important;
	&-list {
		text-align: center;
		margin: 0 -4px;

		.menu-item {
			margin: 5px 7px;
			font-size: .7875rem;
			line-height: 1.4;
			text-transform: uppercase;
			@include media-breakpoint-up(md) {
				&:last-child {
					margin-right: 0;
				}
			}

			a { text-decoration: none; }

			&.current-menu-item,
			&.current_page_item {
				a {	}
			}
		}
	}
}
