.site-info {
	font-size: .857rem;
	line-height: 1.75;
}
.site-footer {
	.footer-container {
		.social-list {
			.menu-item {
				a {
					position: relative;
					padding-left: 18px;
					z-index: 2;
					&:after {
						content: '';
						position: absolute;
						width: 40px;
						height: 40px;
						border-radius: $border__radius;
						line-height: 40px;
						bottom: -10px;
						left: 5px;
						z-index: -1;
					}
				}
			}
		}
	}
}
@import "footer/layout-style-1";
@import "footer/layout-style-2";
